.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.fg-primary {
  color: rgb(51, 39, 29);
}

.pointer {
  cursor: pointer;
}

.bg-primary {
  background-color: rgb(244, 164, 96);
}

.bg-secondary {
  background-color: rgb(244, 214, 146);
}

a {
  margin: 0;
  padding: 0;
}
